{% comment %}
  Renders an prodcut card

  Accepts:
  - product: {Object} Product object
  - ratio: {String} Image ratio
  - has_quick_add: {Boolean} The quick add modal is show(Optional). Default is false.

  Usage:
  {% render 'my-product-card' product: product, ratio: ratio, has_quick_add: has_quick_add %}
{% endcomment %}

{%- if ratio == nil -%}
    ratio = "1 / 1"
{%- endif -%}

{%- if has_quick_add == nil -%}
    has_quick_add = false
{%- endif -%}

{%- assign current_variant = product -%}
{%- if product != nil and product.has_only_default_variant == false -%}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endif -%}

<div class="product-card__container"
    product-id="{{ product.id }}"
>
    <responsive-container class="product-card__image 
        {% if section.settings.show_operation == 'hover' %} product-card__image-hover {% endif %}
        "
        style="aspect-ratio: {{ ratio }};"
    >
        {{ 
            current_variant.featured_media.preview_image
            | image_url: width: current_variant.featured_media.preview_image.width
            | image_tag:
                alt: current_variant.title, 
                class:'image'
        }}

        {%- if current_variant.compare_at_price > current_variant.price and current_variant.compare_at_price > 0 -%}
            {%- assign percent = current_variant.price | times: 100 | divided_by: current_variant.compare_at_price -%}
            {%- assign discount = 100 | minus: percent | append: '%' -%}
        {%- else -%}
            {%- assign discount = 0 | append: '%' -%}
        {%- endif -%}

        <div class="left-top">
            {%- if section.settings.show_badge_text -%}
                <div class="badge color-{{ section.settings.badge_color }}">
                    {{ section.settings.badge_text }}
                </div>
            {%- endif -%}

            {%- unless discount == '0%' -%}
                <div class="sale ">
                    SALE {{ discount }} OFF
                </div>
            {%- endunless -%}
        </div>

        {%- if has_quick_add -%}
            <modal-opener 
                class="opener"
                data-modal="#my-product-list-PopupModal"
            >
                <button
                    class="quick-view-btn"
                    type="button"
                    aria-haspopup="dialog"
                    data-product-url="{{ product.url }}" 
                >
                    Quick View
                    {%- render 'loading-spinner' -%}
                </button>
            </modal-opener>
        {%- endif -%}
    </responsive-container> 

    <div class="product-card__content product-{{ section.settings.alignment }}">
        <div class="product-card__title">
            <a
                href="{{ product.url }}"
                id="StandardCardNoMediaLink-{{ section.id }}-{{ product.id }}"
                class="full-unstyled-link"
                aria-labelledby="StandardCardNoMediaLink-{{ section.id }}-{{ product.id }} NoMediaStandardBadge-{{ section.id }}-{{ product.id }}"
            >
                {{ current_variant.title | escape }}
            </a>
        </div>

        <div class="product-card__price h4">
            {{ current_variant.price | money }}

            {%- if current_variant.compare_at_price > current_variant.price -%}
                <span class="old-price" style="text-decoration: line-through;">
                    {{ current_variant.compare_at_price | money }}
                </span>
            {%- endif -%}
        </div>

        {% comment %} {%- unless product.has_only_default_variant -%}
            {% assign swatch_triggers = section.settings.color_swatch_trigger | split: ',' %}
            {% for option in product.options_with_values %}
                {% assign option_name = option.name | strip | downcase %}
                {% assign is_swatch = false %}

                 {% for trigger in swatch_triggers %}
                    {%- assign compare_option = trigger | strip | downcase -%}
                    {%- if option_name == compare_option -%}
                        {%- assign is_swatch = true -%}
                    {%- endif -%}
                {% endfor %}

                
                {%- if is_swatch -%}
                    {% comment %} render color or image {% endcomment %}
                    <ul class="product-card__swatch">
                        颜色多属性        
                    </ul>
                {%- else -%}
                    {% comment %} render size , other multiple property is ignore. {% endcomment %}
                    尺寸多属性
                {%- endif -%}
            {% endfor %}
        {%- endunless -%} {% endcomment %}
    </div>
</div>