{% comment %}
  Renders an prodcut card

  Accepts:
  - product: {Object} Product object
  - ratio: {String} Image ratio
  - has_quick_add: {Boolean} The quick add modal is show(Optional). Default is false.

  Usage:
  {% render 'my-product-card' product: product, ratio: ratio, has_quick_add: has_quick_add %}
{% endcomment %}

{%- if ratio == nil -%}
    ratio = "1 / 1"
{%- endif -%}

{%- if has_quick_add == nil -%}
    has_quick_add = false
{%- endif -%}

{%- assign current_variant = product -%}
{%- if product != nil and product.has_only_default_variant == false -%}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endif -%}

<div class="product-card__container"
    product-id="{{ product.id }}"
>
    <responsive-container class="product-card__image 
        {% if section.settings.show_operation == 'hover' %} product-card__image-hover {% endif %}
        "
        style="aspect-ratio: {{ ratio }};"
    >
        {% assign variant_image = current_variant.featured_image | default: product.featured_image %}
        {{ 
            variant_image
            | image_url: width: variant_image.width
            | image_tag:
                alt: product.title, 
                class:'image'
        }}

        {%- if current_variant.compare_at_price > current_variant.price and current_variant.compare_at_price > 0 -%}
            {%- assign percent = current_variant.price | times: 100 | divided_by: current_variant.compare_at_price -%}
            {%- assign discount = 100 | minus: percent | append: '%' -%}
        {%- else -%}
            {%- assign discount = 0 | append: '%' -%}
        {%- endif -%}

        <div class="left-top">
            {%- if section.settings.show_badge_text -%}
                <div class="badge color-{{ section.settings.badge_color }}">
                    {{ section.settings.badge_text }}
                </div>
            {%- endif -%}

            {%- unless discount == '0%' -%}
                <div class="sale ">
                    SALE {{ discount }} OFF
                </div>
            {%- endunless -%}
        </div>

        {%- if has_quick_add -%}
            <modal-opener 
                class="opener"
                data-modal="#my-product-list-PopupModal"
            >
                <button
                    class="quick-view-btn"
                    type="button"
                    aria-haspopup="dialog"
                    data-product-url="{{ product.url }}" 
                >
                    Quick View
                    {%- render 'loading-spinner' -%}
                </button>
            </modal-opener>
        {%- endif -%}
    </responsive-container> 

    <div class="product-card__content product-{{ section.settings.alignment }}">
        <div class="product-card__title">
            <a
                href="{{ product.url }}"
                id="StandardCardNoMediaLink-{{ section.id }}-{{ product.id }}"
                class="full-unstyled-link"
                aria-labelledby="StandardCardNoMediaLink-{{ section.id }}-{{ product.id }} NoMediaStandardBadge-{{ section.id }}-{{ product.id }}"
            >
                {{ product.title | escape }}
            </a>
        </div>

        <div class="product-card__price h4">
            {{ current_variant.price | money }}

            {%- if current_variant.compare_at_price > current_variant.price -%}
                <span class="old-price" style="text-decoration: line-through;">
                    {{ current_variant.compare_at_price | money }}
                </span>
            {%- endif -%}
        </div>

        {%- unless product.has_only_default_variant -%}
            {% assign swatch_triggers = section.settings.color_swatch_trigger | split: ',' %}
            {% assign size_triggers = section.settings.size_trigger | split:"," %}

            {% for option in product.options_with_values %}
                {% assign option_name = option.name | strip | downcase %}
                {% assign is_swatch = false %}
                {% assign is_size = false %}

                {% for trigger in swatch_triggers %}
                    {%- assign compare_option = trigger | strip | downcase -%}
                    
                    {%- if option_name == compare_option -%}
                        {%- assign is_swatch = true -%}
                    {%- endif -%}
                {% endfor %}

                {% for trigger in size_triggers %}
                    {%- assign compare_option = trigger | strip | downcase -%}
                    
                    {%- if option_name == compare_option -%}
                        {%- assign is_size = true -%}
                    {%- endif -%}
                {% endfor %}

                
                {%- if is_swatch -%}
                    <ul class="list-unstyled product-card__swatch">
                        {% for value in option.values limit: 2 %}
                            <li class="swatch">
                                <a href="javascript:void(0);" 
                                    class="color"
                                    style="--swatch-bgc:{{ value.swatch.color }}"
                                    aria-selected="{{ value.selected }}"
                                >
                                    {{ value }}
                                </a>
                            </li>
                        {% endfor %}
    
                        {%- if  option.values.size > 2 -%}
                            <li class="swatch">
                                <a href="javascript:void(0);" class="color">
                                    +{{ option.values.size | minus: 2 }}
                                </a>
                            </li>
                        {%- endif -%}        
                    </ul>
                {% comment %} {%- elsif is_size -%}
                    <ul class="list-unstyled product-card__size">
                        {% for value in option.values limit: 2 %}
                            <li class="size">{{ value }}</li>
                        {% endfor %}
    
                        {%- if  option.values.size > 2 -%}
                            <li class="more">+{{ option.values.size | minus: 2 }}</li>
                        {%- endif -%}        
                    </ul> {% endcomment %}
                {%- endif -%}
            {% endfor %}
        {%- endunless -%}
    </div>
</div>