{{ 'my-swiper-container.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-sustainableHero-comment.js' | asset_url }}" defer type="module"></script>

<div class="comment__content {{ class }}">
    {%- assign number = section.settings.text_size | split: 1 -%}
    {%- assign size = number | plus: 1 -%}

    <div class="title {{ block.settings.text_size }}">{{ block.settings.title }}</div>
    <div class="icon">
        {%- render 'icon-comma' -%}
    </div>
    <my-sustainable-hero-comment class="my-swiper-container">
        <div class="swiper">
            <div class="swiper-wrapper wrapper">
                {%- for comment in block.settings.user_comments -%}
                    <div class="swiper-slide slide {{ block.settings.text_size | slice:0 | append: size }}">
                        <div class="star">
                            {%- render 'icon-star', rating:comment.star.value | strip | times:1 | round:0 -%}
                        </div>
                        <div class="comment">
                            {{ comment.comment }}
                        </div>
                        <div class="customer_name">
                            {{ comment.customer_name }}
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>

        {%- render 'nav-buttons' -%}
    </my-sustainable-hero-comment>
</div>