{{ 'brand-banner.css' | asset_url | stylesheet_tag  }}
<script src="{{ 'my-brand-banner.js' | asset_url }}" type="module" defer></script>

{%- liquid
  assign scroll_direction = section.settings.scroll_direction
  assign is_scroll = section.settings.is_scroll
-%}

{%- capture background_color -%}
  {{ section.settings.background_color }}
{%- endcapture -%}

<my-brand-banner class="brand-banner__container" data-scroll-direction="{{ scroll_direction }}" 
  data-is-scroll="{{ is_scroll }}"
>
  <div class="wrapper" style="background-color: {{ background_color }};">
    <div class="brand-banner__bgd" id="bannerTrack">
      {%- if is_scroll and scroll_direction == 'right' -%}
        <div class="image-wrapper image-slide right">
          {% for block in section.blocks %}
              {%- if block.settings.image -%}
                  {{
                      block.settings.image
                      | image_url: width: 200
                      | image_tag:
                          alt: block.settings.image.alt,
                          class: 'image'
                  }}
              {%- endif -%}
          {% endfor %}
        </div>
      {%- endif -%}
      
      <div class="image-wrapper">
          {% for block in section.blocks %}
              {%- if block.settings.image -%}
                  {{
                      block.settings.image
                      | image_url: width: 200
                      | image_tag:
                          alt: block.settings.image.alt,
                          class: 'image'
                  }}
              {%- endif -%}
          {% endfor %}
      </div>

      {%- if is_scroll and scroll_direction == 'left' -%}
        <div class="image-wrapper image-slide">
          {% for block in section.blocks %}
              {%- if block.settings.image -%}
                  {{
                      block.settings.image
                      | image_url: width: 200
                      | image_tag:
                          alt: block.settings.image.alt,
                          class: 'image'
                  }}
              {%- endif -%}
          {% endfor %}
        </div>
      {%- endif -%}
    </div>
  </div>
</my-brand-banner>

{% schema %}
  {
    "name": "brand-banner",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "checkbox",
        "id": "is_scroll",
        "label": "Is Scroll",
        "default":false
      },
      {
        "type": "radio",
        "id": "scroll_direction",
        "label": "Scroll Direction",
        "options": [
            { "value": "left", "label": "向左" },
            { "value": "right", "label": "向右" }
          ],
        "default": "left"
      }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "brand-banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}