{{ 'brand-banner.css' | asset_url | stylesheet_tag  }}
<script src="{{ 'my-brand-banner.js' | asset_url }}" type="module" defer></script>

<my-brand-banner class="brand-banner__container color-{{ section.settings.color_scheme }}
  section-{{ section.id }}-padding
  "
  style="
    --brand-space: {{ section.settings.space }};
    --brand-animation-direction: {{ section.settings.scroll_direction }};
    --brand-animation-speed: {{ section.settings.scroll_speed }};
    --brand-animation-state: 
      {% if section.settings.scroll == 'auto' %} 
        running 
      {% else %}
        paused 
      {% endif %};
    --brand-width: {{ section.settings.content_size }};
  "
>
  <div class="brand__content" 
    data-brand-banner-element="content"
  >
    {%- for block in section.blocks -%}
      {%- if block.settings.image -%}
        <div class="brand__item">
          {{ 
            block.settings.image
              | image_url: width: block.settings.image.width
              | image_tag: 
                  alt: block.settings.image.alt,
                  class: "brand-image"
          }}
          <a href="{{ block.settings.link }}" class="brand-link" aria-label="brand link"></a>       
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</my-brand-banner>

{% schema %}
  {
    "name": "brand-banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      },
      {
        "type":"range",
        "id": "content_size",
        "label": "Content Size",
        "min": 100,
        "max": 500,
        "step": 10,
        "default": 150
      },
      {
        "type": "select",
        "id": "scroll",
        "label": "Scroll Type",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "auto",
            "label": "Auto"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "scroll_direction",
        "label": "Scroll Direction",
        "options": [
          {
            "value": "normal",
            "label": "Left"
          },
          {
            "value": "reverse",
            "label": "Right"
          }
        ],
        "default": "normal"
      },
      {
        "type": "select",
        "id": "scroll_speed",
        "label": "Scroll Speed",
        "options": [
          {
            "value": "0.5",
            "label": "Slow"
          },
          {
            "value": "1",
            "label": "Normal"
          },
          {
            "value": "1",
            "label": "Fast"
          }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "space",
        "label": "Space",
        "options": [
          {
            "value": "1rem",
            "label": "Small"
          },
          {
            "value": "2rem",
            "label": "Medium"
          },
          {
            "value": "3rem",
            "label": "Large"
          }
        ],
        "default": "2rem"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image",
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "brand-banner",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}