{{ 'grid-layout.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="grid-layout__container
    section-{{ section.id }}-padding
    {% if section.settings.layout == 'page_width' %} my-page-width {% endif %}"
>
    <div class="grid-item__container">
        {%- for block in section.blocks -%}
            {%- assign placeholder_index = forloop.index0 | modulo: 3 | plus: 1 -%}
            {%- assign placeholder_image = 'hero-apparel-' | append: placeholder_index -%}
            
            {%- case block.type -%}
                {%- when 'image_item' -%}
                    <div class="image__container">
                        <responsive-container class="pc_image">
                            {%- if block.settings.image -%}
                                {{
                                    block.settings.image 
                                        | image_url: width: block.settings.image.width
                                        | image_tag
                                }}
                            {%- else -%}
                                {{ placeholder_image | placeholder_svg_tag: "placeholder-svg" }}
                            {%- endif -%}
                        </responsive-container>

                        <responsive-container class="mobile_image">
                            {%- if block.settings.mobile_image -%}
                                {{
                                    block.settings.mobile_image 
                                        | image_url: width: block.settings.mobile_image.width
                                        | image_tag
                                }}
                            {%- else -%}
                                {{ placeholder_image | placeholder_svg_tag: "placeholder-svg" }}
                            {%- endif -%}
                        </responsive-container>

                        <div class="image__content">
                            <div class="heading">
                                {{ block.settings.heading }}
                            </div>
                            <div class="description">
                                {{ block.settings.description }}
                            </div>
                        </div>
                    </div>
            {% endcase %}                
        {%- endfor -%}
    </div>
</div>

{% schema %}
{
    "name": "Grid Layout",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Grid Layout"
        },
        {
            "type": "select",
            "id": "layout",
            "options": [
            {
                "value": "full_bleed",
                "label": "Full Bleed"
            },
            {
                "value": "page_width",
                "label": "Page Width"
            }
            ],
            "default": "full_bleed",
            "label": "Layout"
        },
        {
            "type": "range",
            "id": "row_height",
            "min": 10,
            "max": 50,
            "step": 1,
            "default": 10,
            "label": "Row Height",
            "unit": "rem"
        },
        {
            "type": "range",
            "id": "max_columns",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2,
            "label": "Maximum number of columns"
        },
        {
            "type": "range",
            "id": "desktop_column_gap",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 10,
            "label": "Desktop Column Gap",
            "unit": "px"
        },
        {
            "type": "range",
            "id": "mobile_column_gap",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 5,
            "label": "Mobile Column Gap",
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Border"
        },
        {
            "type": "range",
            "id": "border_radius",
            "min": 0,
            "max":10,
            "step": 1,
            "default":0,
            "label": "Border Radius"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "image_item",
            "name": "Image Item",
            "settings": [
                {
                    "type": "header",
                    "content": "Desktop Layout",
                },
                {
                    "type":"range",
                    "id": "column",
                    "label": "Column",
                    "min": 1,
                    "max": 4,
                    "step": 1,
                    "default": 1
                },
                {
                    "type":"range",
                    "id": "row",
                    "label": "row",
                    "min": 1,
                    "max": 3,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "header",
                    "content": "Image Settings"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "Mobile Image"
                },
                {
                    "type": "range",
                    "id": "image_opacity",
                    "label": "Image overlay opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default":0
                },
                {
                    "type": "select",
                    "id": "image_fit",
                    "label": "Image fit",
                    "options": [
                        {
                            "value": "cover",
                            "label": "Cover"
                        },
                        {
                            "value": "Contain",
                            "label": "contain"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Text Settings"
                },
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id":"description",
                    "label": "Description",
                    "default": "<p></p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Grid Layout",
            "blocks": [
                {"type": "image_item"}
            ]
        }
    ]
}
{% endschema %}