{{ 'my-swiper-container.css' | asset_url | stylesheet_tag  }}
{{ 'my-blog-carousel.css' | asset_url | stylesheet_tag  }}
<script src="{{ 'my-blogCarousel-container.js' | asset_url }}" defer type="module"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container class="my-blog-carousel__container 
    section-{{ section.id }}-padding
    {% unless section.settings.is_fullWidth %} my-page-width {% endunless %}
    "
>
    {% if section.settings.is_showTitle %}
        <div class="top color-{{ section.settings.color_scheme }}">
            <div class="title {{ section.settings.text_size }}" style="text-align:{{ section.settings.alignment }}">
                {{ section.settings.title }}
            </div>
        </div>
    {% endif %}

    <div class="bottom">
        <my-blog-carousel-container class="my-swiper-container" columns="{{ section.settings.blog_column }}">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {%- for article in section.settings.blog.articles -%}
                        <a class="swiper-slide slide" href="{{ article.url }}">
                            <responsive-container class="image__container" style="aspect-ratio: 1 / 1;">
                                {%- if article.image != blank -%}
                                    {{ 
                                        article.image 
                                        | image_url: width: article.image.width
                                        | image_tag:
                                            alt: article.title
                                    }}
                                {%- else -%}
                                    {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {%- endif -%}
                                <div class="category">{{ section.settings.blog.title }}</div>
                            </responsive-container>

                            <div class="article-title h3" title="{{ article.title }}">{{ article.title }}</div>
                            <span class="link">Read More</span>
                        </a>  
                    {%- endfor -%}
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </my-blog-carousel-container>
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-blog-carousel",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "checkbox",
            "id": "is_fullWidth",
            "label": "Full Width",
            "default": false
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "checkbox",
            "id": "is_showTitle",
            "label": "Show Title",
            "default":true
        },
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default":"Read Our Blogs"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Title Alignment",
            "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "right",
                "label": "Right"
            }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text Size",
            "options": [
                {
                    "value": "h2",
                    "label": "Small"
                },
                {
                    "value": "h1",
                    "label": "Medium"
                },
                {
                    "value": "h0",
                    "label": "Large"
                }
            ],
            "default":"h1"
        },
        {
            "type": "header",
            "content": "Blog Card"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "t:sections.featured-blog.settings.blog.label"
        },
        {
            "type": "select",
            "id": "blog_column",
            "label": "Descktop Blog Column",
            "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                }
            ],
            "default": "3"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 0
        }
    ],
    "presets": [
      {
        "name": "my-blog-carousel"
      }
    ]
  }
{% endschema %}