{{ 'my-featured-blog.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign articles = section.settings.blog.articles
  assign left_article = articles.first
  assign show_image = section.settings.show_image
  assign show_date = section.settings.show_date
  assign show_author = section.settings.show_author
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container class="my-featured-blog__container section-{{ section.id }}-padding
    {% unless section.settings.is_fullWidth %} my-page-width {% endunless %}
    color-{{ section.settings.color_scheme }}
    "
>
    <div class="top">
        <h2
            id="SectionHeading-{{ section.id }}"
            class="inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
            data-cascade
        {% endif %}
        >
            {{ section.settings.heading }}
        </h2>
    </div>

    <div class="bottom">
        <div class="left">
            <responsive-container class="image__container">
                {%- if left_article.image != blank -%}
                    {{ 
                        left_article.image
                        | image_url: width: left_article.image.width
                        | image_tag:
                            alt: left_article.image.alt,
                            class:"left-image"
                    }}
                {%- else -%}
                   {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }} 
                {%- endif -%}

                <div class="content">
                    <div class="title h2">
                        {{ left_article.title }}
                    </div>
                    <div class="description h3">
                        {{ left_article.content }}
                    </div>
                    <a class="link" href="{{ left_article.url }}">Read more</a>
                </div>
            </responsive-container>
        </div>
        <div class="right">
            {%- for i in (2..articles.size) limit: 2 -%}
                {% assign idx = i | minus: 1 %}
                {% assign article = articles[idx] %}

                <div class="card">
                    {%- if show_image -%}
                        <responsive-container class="image__container">
                            {%- if article.image != blank -%}
                                {{ 
                                    article.image
                                    | image_url: width: article.image.width
                                    | image_tag:
                                        alt:article.image.alt,
                                        class:"right-image" 
                                }}
                            {%- else -%}
                                {{ 'blog-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                        </responsive-container>
                    {%- endif -%}
                    <div class="content">
                        <div class="info">
                            {%- if show_date -%}
                                <span>{{ article.published_at | time_tag: format: 'date' }}</span>
                            {%- endif -%}
                            {%- if show_author -%}
                                <span>{{ article.author }}</span>
                            {%- endif -%}
                            <span>{{ article.comments_count }} comments</span>
                        </div>
                        <div class="title h3">
                            {{ article.title }}
                        </div>
                        <div class="description h5">
                            {{ article.content }}
                        </div>
                        <a class="link h4" href="{{ article.url }}">Read more</a>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</responsive-container>


{% schema %}
  {
    "name": "my-featured-blog",
    "tag": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "checkbox",
            "id": "is_fullWidth",
            "label": "Full Width",
            "default": false
        },
        {
            "type": "header",
            "content": "Text"
        },           
        {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Blog Posts",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                    "value": "h2",
                    "label": "Small"
                },
                {
                    "value": "h1",
                    "label": "Medium"
                },
                {
                    "value": "h0",
                    "label": "Large"
                }
            ],
            "default": "h1",
            "label": "Text Size"
        },
        {
            "type": "header",
            "content": "Blog Card"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "t:sections.featured-blog.settings.blog.label"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "default": true,
            "label": "Show Image"
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "default": true,
            "label": "Show Date"
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "default": false,
            "label": "Show Author"
        },
    ],
    "presets": [
      {
        "name": "my-featured-blog"
      }
    ]
  }
{% endschema %}