{% schema %}
  {
    "name": "my-fashion-grid-layout",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1-1",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image1-4",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image2-4",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image3-3",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image3-4",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image4-4",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "my-fashion-grid-layout",
        "settings": {
        }
      }
    ]
  }
{% endschema %}

<div class="my-fashion-grid-layout__container" data-section-id="{{ section.id }}">
    <div class="grid-1-1">
        {{ 
            section.settings.image1-1 
            | image_url: height:592
            | image_tag: 
                alt:section.settings.image1-1.alt,
                class:"image" 
        }}
        <div class="content-overlay">
          <h2 class="overlay-title">Color of Summer Outfit</h2>
          <p class="overlay-description">100+ Collections for your outfit inspirations this summer</p>
          <button class="overlay-button">VIEW COLLECTIONS</button>
        </div>
    </div>
    <div class="grid-1-4">
        {{ 
            section.settings.image1-4 
            | image_url: height:290
            | image_tag: 
                alt:section.settings.image1-4.alt,
                class:"image" 
        }}
    </div>
    <div class="grid-2-4">
        {{ 
            section.settings.image2-4 
            | image_url: height:290
            | image_tag: 
                alt:section.settings.image2-4.alt,
                class:"image" 
        }}
    </div>

    {% comment %} second part  {% endcomment %}
    <div class="grid-3-1">
        <div class="grid-3-1__title">Casual Inspirations</div>
        <div class="grid-3-1__subtitle">Our favorite combinations for casual outfit that can inspire you to apply on your daily activity</div>
        <div class="grid-3-1__button">BROWSE INPIRATIONS</div>
    </div>
    <div class="grid-3-3">
        {{ 
            section.settings.image3-3 
            | image_url: height:324
            | image_tag: 
                alt:section.settings.image3-3.alt,
                class:"image" 
        }}
    </div>
    <div class="grid-3-4">
        {{ 
            section.settings.image3-4 
            | image_url: height:324
            | image_tag: 
                alt:section.settings.image3-4.alt,
                class:"image" 
        }}
    </div>

    {% comment %} third part {% endcomment %}
    <div class="grid-4-1">
        <div class="product-info" style="background-color: #ffeee4;">
          <h2 class="product-title">100% Authentic Product</h2>
          <p class="product-description">Prominently display a clear "100% Authentic Guarantee" on your product</p>
          <button class="product-button">SEE MORE</button>
        </div>
        <div class="product-info" style="background-color: #f6f6f6;">
          <h2 class="product-title">100% Authentic Product</h2>
          <p class="product-description">Prominently display a clear "100% Authentic Guarantee" on your product</p>
          <button class="product-button">SEE MORE</button>
        </div>
        <div class="product-info" style="background-color: #f6f6f6;">
          <h2 class="product-title">100% Authentic Product</h2>
          <p class="product-description">Prominently display a clear "100% Authentic Guarantee" on your product</p>
          <button class="product-button">SEE MORE</button>
        </div>
        <div class="last-image">
            {{ 
                section.settings.image4-4 
                | image_url: height:300,width:400
                | image_tag: 
                    alt:section.settings.image4-4.alt,
                    class:"image" 
            }}
        </div>
    </div>
</div>

{{ 'my-fashion-grid-layout.css' | asset_url | stylesheet_tag }}

<script defer type="module">
    (function(){
        const sectionId = '{{ section.id }}';
        const container = $('.my-fashion-grid-layout__container[data-section-id="' + sectionId + '"]');
    })()
</script>