{{ 'my-fashion-highlights.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container class="my-fashion-highlights__container 
    section-{{ section.id }}-padding
  "
  style="color:{{ section.settings.font_color }}"
>
    <div class="fashion__wrapper"
      {%- if section.settings.bgc_img != blank -%}
        style="background-image: url('{{ 
          section.settings.bgc_img 
            | image_url: width:1440
        }}');"
      {%- else -%}
        style="background-image: url('{{ 'hero1.svg' | asset_url }}');"
      {%- endif -%}    
    >
      {% content_for 'blocks' %}
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-fashion-highlights",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "font_color",
        "label": "Font color",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "bgc_img",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks":[
        {
            "type": "fashion-highlight",
        }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "my-fashion-highlights",
        "settings": {
        },
        "blocks": [
          {
            "type": "fashion-highlight"
          }
        ]
      }
    ]
  }
{% endschema %}
