{{ 'my-hero-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-count-down.js' | asset_url }}" type="module" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container class="my-hero-banner__container 
  color-{{ section.settings.color_scheme }} 
  section-{{ section.id }}-padding"
>
    <responsive-container class="img__container" style="height:auto;">
      {%- if section.settings.image_url != blank -%}
        {{ section.settings.image_url
          | image_url: width: section.settings.image_url.width
          | image_tag:
              alt: section.settings.image_url.alt,
              class: 'img' 
        }}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag:"placeholder-svg" }}
      {%- endif -%}
    </responsive-container>

    <div class="content__container">
      <div class="text__container">
        <div class="title h4">{{ section.settings.title }}</div>
        <div class="sub-title h1">{{ section.settings.sub_title }}</div>
      </div>
      <my-count-down
        target-date="{{ section.settings.target_date | date: '%Y-%m-%dT%H:%M:%S' }}"
      >
      </my-count-down>
      <div class="button">{{ section.settings.button_text }}</div>
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-hero-banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_url",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "ONLINE ONLY!"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title",
        "default":"UP TO 50% OFF EVERYTHING"
      },
      {
        "type": "text",
        "id": "target_date",
        "label": "Target Date",
        "info": "Format: YYYY-MM-DD HH:MM:SS (e.g., 2024-12-31 23:59:59)",
        "default": "2025-9-15 23:59:59"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "my-hero-banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}