{{ 'my-hero-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-count-down.js' | asset_url }}" type="module"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container class="my-hero-banner__container  
    section-{{ section.id }}-padding
    {% if section.settings.full_width %}
      content-full-width   
    {% else %}
      my-page-width
    {% endif %} 
  "
>
    <responsive-container class="img__container" style="height:auto;">
      {%- if section.settings.image_url != blank -%}
        {{ section.settings.image_url
          | image_url: width: section.settings.image_url.width
          | image_tag:
              alt: section.settings.image_url.alt,
              class: 'img' 
        }}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag:"placeholder-svg" }}
      {%- endif -%}
    </responsive-container>

    <div class="content__container color-{{ section.settings.color_scheme }} gradient">
      <div class="text__container">
        <div class="title h4">{{ section.settings.title }}</div>
        <div class="sub-title h1">{{ section.settings.sub_title }}</div>
      </div>
      <my-count-down
        target-date="{{ section.settings.target_date | date: '%Y-%m-%dT%H:%M:%S' }}"
        data-section-id="{{ section.id }}"
      >
      </my-count-down>
      <a href="{{ section.settings.button_link }}" class="button"
        data-section-button="{{ section.id }}"
      >
        {{ section.settings.button_text }}
      </a>
    </div>
</responsive-container>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const sectionId = '{{ section.id }}';
    const countDown = document.querySelector(`my-count-down[data-section-id="${sectionId}"]`);
    const button = document.querySelector(`[data-section-button="${sectionId}"]`);
    
    if (button) {
      countDown.addEventListener('expired-change', (e)=>{
        const { value } = e.detail;
        
        button.style.display = value ? 'none' : 'block';
      });
    }
  });
</script>

{% schema %}
  {
    "name": "my-hero-banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      },
      {
        "type": "image_picker",
        "id": "image_url",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "header",
        "content":"Text"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title",
        "default": "ONLINE ONLY!"
      },
      {
        "type": "inline_richtext",
        "id": "sub_title",
        "label": "Sub Title",
        "default":"UP TO 50% OFF EVERYTHING"
      },
      {
        "type": "inline_richtext",
        "id": "target_date",
        "label": "Target Date",
        "info": "Format: YYYY-MM-DD HH:MM:SS (e.g., 2024-12-31 23:59:59)",
        "default": "2025-9-15 23:59:59"
      },
      {
        "type": "inline_richtext",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "my-hero-banner"
      }
    ]
  }
{% endschema %}