{{ 'my-swiper-container.css' | asset_url | stylesheet_tag }}
{{ 'my-image-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-swiper-container.js' | asset_url }}" type='module' defer></script>

<responsive-container class="my-image-banner__container">
  <my-swiper-container
    class="my-swiper-container"
    speed="{{ section.settings.autoplay_speed }}"
  >
    <div class="swiper">
      <div class="swiper-wrapper">
        {%- assign image_count = 0 -%}
        {% for block in section.blocks %}
          {% if block.settings.image %}
            {%- assign image_count = image_count | plus: 1 -%}
            <div class="swiper-slide">
              <responsive-container>
                {{
                  block.settings.image
                  | image_url: width: 1376
                  | image_tag:
                      alt: block.settings.image.alt,
                      preload: forloop.first
                }}
              </responsive-container>
            </div>
          {% endif %}
        {% endfor %}
        
        {%- if image_count == 0 -%}
          {{ "image" | placeholder_svg_tag }}
        {%- endif -%}
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </my-swiper-container>
  
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile">
      <h2 class="banner__heading inline-richtext h0">
        {{ section.settings.title }}
      </h2>
      <div class="banner__text rte subtitle">
        <p>{{ section.settings.sub-title }}</p>
      </div>
      {%- unless section.settings.button-text -%}
        <div class="banner__buttons">
        <a href="{{ routes.all_products_collection_url }}" class="button button--secondary">
          {{ section.settings.button-text }}
        </a>
        </div>
      {%- endunless -%}
    </div>
  </div>
</responsive-container>

{% schema %}
  {
    "name": "my-image-banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Autoplay Speed",
        "min": 2,
        "max": 10,
        "step": 1,
        "default": 5
      },
      {
      "type": "header",
      "content": "t:sections.image-banner.settings.content.content"
      },
      {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
          },
          {
            "value": "middle-left",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
          },
          {
            "value": "middle-center",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
          },
          {
            "value": "middle-right",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
          },
          {
            "value": "bottom-left",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
          },
          {
            "value": "bottom-center",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
          },
          {
            "value": "bottom-right",
            "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
          }
        ],
        "default": "middle-center",
        "label": "t:sections.image-banner.settings.desktop_content_position.label"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "sub-title",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "button-text",
        "label": "button-label",
        "info":"t:sections.rich-text.blocks.buttons.settings.button_label_1.info",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "button-url"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "my-image-banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
