{% schema %}
  {
    "name": "my-image-banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Autoplay Speed",
        "min": 2,
        "max": 10,
        "step": 1,
        "default": 5
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "sub-title",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "button-text",
        "label": "button-label",
        "info":"t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "button-url"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "my-image-banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}

<div class="my-image-banner__container" data-section-id="{{ section.id }}">
  <div class="image-wrapper" data-autoplay-speed="{{ section.settings.autoplay_speed | times: 1000}}">
    {%- assign image_count = 0 -%}
    {% for block in section.blocks %}
      {% if block.settings.image %}
        {%- assign image_count = image_count | plus: 1 -%}
        <div class="image-slide {% if forloop.first %}active{% endif %}" data-index="{{ forloop.index0 }}">
          {{
            block.settings.image
            | image_url: width: 1376
            | image_tag:
                alt: block.settings.image.alt,
                class: 'image',
                preload: forloop.first
          }}
        </div>  
      {% endif %}
    {% endfor %}

    {%- if image_count == 0 -%}
      {{ "image" | placeholder_svg_tag }}
    {%- endif -%}

    <div class="content-wrapper">
      <h2 class="title">{{ section.settings.title }}</h2>
      <div class="sub-title">{{ section.settings.sub-title }}</div>
      {%- unless section.settings.button-text == blank -%}
        <div class="button">
          <a href="{{ section.settings.button-url }}">
            {{ section.settings.button-text }}
          </a>
        </div>
      {%- endunless -%}
    </div>
  </div>
  {%- if image_count > 1 -%}
    <div class="left"></div>
    <div class="right"></div>
  {%- endif -%}
</div>

{{ 'my-image-banner.css' | asset_url | stylesheet_tag }}

<script defer type="module">
  (function(){
    const sectionId = '{{ section.id }}';
    const container = $(`.my-image-banner__container[data-section-id="${sectionId}"]`);
    
    const carousel = container.find('.image-wrapper');
    const slides = container.find('.image-slide');
    const prevBtn = container.find('.left');
    const nextBtn = container.find('.right');
    const autoplaySpeed = carousel.data("autoplaySpeed") || 10000;

    let currentIndex = 0;
    let autoplayTimer;

    const prevSlide = ()=> {
        currentIndex = currentIndex === 0 ? slides.length - 1 : currentIndex - 1;
        updateSlide();
    }

    const nextSlide = ()=>{
        currentIndex = currentIndex === slides.length - 1 ? 0 : currentIndex + 1;
        updateSlide();
    }

    const updateSlide = ()=>{
        slides.toArray().forEach((slide,index) => {
        slide.classList.toggle('active',index === currentIndex);
        });
    }

    if(prevBtn) prevBtn.on('click',prevSlide);
    if(nextBtn) nextBtn.on('click',nextSlide);

    const startAutoPlay = ()=>{
        if(autoplayTimer) clearInterval(autoplayTimer);

        autoplayTimer = setInterval(nextSlide, autoplaySpeed);
    }

    const stopAutoPlay = ()=>{
        clearInterval(autoplayTimer);
    }

    carousel.on('mouseenter', stopAutoPlay);
    carousel.on('mouseleave', startAutoPlay);

    startAutoPlay();
  })()
</script>