{{ 'my-image-with-text2.css' | asset_url | stylesheet_tag }}

<responsive-container class="my-image-with-text2__container my-page-width">
    <div class="item">
        <div class="text__container
            color-{{ section.settings.color_scheme }} gradient
            ">
            <div class="heading {{ section.settings.text_size }}">
                {{ section.settings.heading }}
            </div>
            <div class="description h3">
                {{ section.settings.description }}
            </div>
        </div>
    </div>

    <div class="item">
        <responsive-container class="image__container"
            style="aspect-ratio: 1 / 1;"
        >
            {%- if section.settings.image1 -%}
                {{ 
                    section.settings.image1
                        | image_url: width: section.settings.image1.width
                        | image_tag 
                }}
            {%- else -%}
                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
        </responsive-container>
    </div>
    <div class="item">
        <responsive-container class="image__container"
            style="aspect-ratio: 2 / 1;"
        >
            {%- if section.settings.image2 -%}
                {{ 
                    section.settings.image2
                        | image_url: width: section.settings.image2.width
                        | image_tag 
                }}
            {%- else -%}
                {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
        </responsive-container>

        <responsive-container class="image__container"
            style="aspect-ratio: 2 / 1;"
        >
            {%- if section.settings.image3 -%}
                {{ 
                    section.settings.image3
                        | image_url: width: section.settings.image3.width
                        | image_tag 
                }}
            {%- else -%}
                {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
        </responsive-container>
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-image-with-text2",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "header",
            "content": "Text Settings",
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text Size",
            "options": [
                {
                    "value": "h2",
                    "label": "Small"
                },
                {
                    "value": "h1",
                    "label": "Medium"
                },
                {
                    "value": "h0",
                    "label": "Large"
                }
            ],
            "default": "h1"
        },
        {
            "type":"inline_richtext",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>This is a default description.</p>"
        },
        {
            "type": "header",
            "content": "Image Settings"
        },
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image2"
        },
        {
            "type": "image_picker",
            "id": "image3",
            "label": "Image3"
        },
    ],
    "presets": [
      {
        "name": "my-image-with-text2"
      }
    ]
  }
{% endschema %}