{{ 'my-image-with-text1.css' | asset_url | stylesheet_tag }}


{%- liquid
  assign title_block = section.blocks | where: "type", "title" | first
  assign desc_block =  section.blocks | where: "type", "description" | first
  assign avator_block = section.blocks | where: "type", "avatar" | first
-%}

<responsive-container class="my-image-with-text1__container">
    <responsive-container class="image__container">
      {%- if section.settings.image != blank -%}
        {{ 
          section.settings.image
          | image_url: width: 552, height:552 
          | image_tag: 
              alt: section.settings.image.alt
        }}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </responsive-container>

    <div class="content">
      <div class="title h1">
        {{ title_block.settings.title }}
      </div>
      <div class="desc h3">
        {{ desc_block.settings.description }}
      </div>
      <div class="avator__container">
        <responsive-container class="avator-image__container">
          {%- if avator_block.settings.avatar != blank -%}
            {{ 
              avator_block.settings.avatar
              | image_url: width: 88, height:88 
              | image_tag: avator_block.settings.avator.alt
            }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </responsive-container>
        <div class="avator__info"> 
          <div class="name h3" style="font-weight:700;margin-bottom:5px;">{{ avator_block.settings.name }}</div>
          <div class="job h5">{{ avator_block.settings.job }}</div>
        </div>
      </div>
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-image-with-text1",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default":"Example Title"
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default":"<p>Example Description</p>"
          }
        ]
      },
      {
        "type": "avatar",
        "name": "Avatar",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "Avatar"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default":"Example Name"
          },
          {
            "type": "text",
            "id": "job",
            "label": "Job",
            "default":"Example Job"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "my-image-with-text1",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "description"
          },
          {
            "type": "avatar"
          }
        ]
      }
    ]
  }
{% endschema %}