{{ 'my-image-with-text.css' | asset_url | stylesheet_tag }}
<script src='{{ 'my-accordion-container.js' | asset_url }}' type='module' defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container class="
    my-image-with-text__container
    section-{{ section.id }}-padding
    color-{{ section.settings.color_scheme }}
    {%- unless section.settings.is_fullWidth -%} my-page-width {%- endunless -%}   
    "
    style="background-color:rgb(var(--color-background),.5)"
>
    <responsive-container class="image__container">
        {%- if section.settings.image != blank-%}
            {{ 
                section.settings.image 
                | image_url: width: section.settings.image.width
                | image_tag:
                    alt: section.settings.image.alt
            }}
        {%- else -%}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
    </responsive-container>

    <div class="content__container">
        <div class="
            title 
            text-{{ section.settings.text-align }}
            {{ section.settings.text-size }}
            "
        >
            {{ section.settings.title }}
        </div>
        <div class="
            subtitle 
            text-{{ section.settings.text-align }}
            {% assign number = section.settings.text-size | slice:1 %}
            {% assign size = number | plus:2 %}
            {{ section.settings.text-size | slice:0 | append: size }}
            "
        >
            {{ section.settings.subtitle }}
        </div>

        <my-accordion-container class="accordion__container"
            style="
                --my-accordion-foreground-color: rgb(--color-foreground);
                --my-accordion-background-color: rgb(--color-background);
                --my-accordion-text-color: rgb(--color-foreground,.5);
            "
        >
            {%- for block in section.blocks -%}
                <my-accordion-item
                    title="{{ block.settings.title }}"
                >
                    {{ block.settings.content }}
                </my-accordion-item>
            {%- endfor -%}
        </my-accordion-container>
    </div>
</responsive-container>

{% schema %}
{
    "name": "my-image-with-text",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "checkbox",
            "id": "is_fullWidth",
            "label": "Is Full Width",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default":"Why Choose Us",
        },
        {
            "type": "select",
            "id": "text-size",
            "label": "Text Size",
            "options": [
                {
                    "value": "h2",
                    "label": "Small"
                },
                {
                    "value": "h1",
                    "label": "Medium"
                },
                {
                    "value": "h0",
                    "label": "Large"
                }
            ],
            "default": "h1"
        },
        {
            "type": "select",
            "id": "text-align",
            "label": "Text Align",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle",
            "default":"<p>We pride ourselves on offering products that meet the highest standards of quality.</p>"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "accordion_item",
            "name": "Accordion Item",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "label": "Title",
                    "default":"Example Title",
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "default":"<p>Example Content</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "my-image-with-text",
            "blocks": [
                {
                    "type": "accordion_item"
                }
            ]
        }
    ]
}
{% endschema %}