{{ 'my-luxury-collection.css' | asset_url | stylesheet_tag }}

<responsive-container class="my-luxury-collection__container" direction='column'>
    <div class="top__container h2">{{ section.settings.title }}</div>

    <div class="content__container">
        {%- for block in section.blocks -%}      
            {%- assign collection = collections[block.settings.collection] -%}
            <a href="{{ collection.url }}" class="item__container"> 
                <responsive-container class="img__container">
                    {%- if collection.image != blank -%}
                        {{ 
                            collection.image 
                            | image_url: width:326
                            | image_tag:
                                alt: collection.title,
                                class: "img"
                        }}
                    {%- else -%}
                        {%- assign placeholder_image_index  = forloop.index0 | modulo: 4 | plus: 1 -%}
                        {%- assign placeholder_image  = "collection-apparel-" | append: placeholder_image_index -%}

                        {{ placeholder_image | placeholder_svg_tag:"placeholder-svg" }}
                    {%- endif -%}
                </responsive-container>
                <div class="img_info h2">
                    {{ collection.title | default: "Collection" }}
                </div>
            </a>  
        {%- endfor -%}
    </div>
</responsive-container>

{% schema %}
  {
    "name": "my-luxury-collection",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "EXPERIENCE OPULENCE LIKE NEVER BEFORE"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Select collection"
                }
            ]
        }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "my-luxury-collection",
        "settings": {
            "title": "EXPERIENCE OPULENCE LIKE NEVER BEFORE"
        },
        "blocks": [
            {
                "type": "collection"
            },
            {
                "type": "collection"
            },
            {
                "type": "collection"
            }
        ]
      }
    ]
  }
{% endschema %}