{{ 'my-luxury-collection.css' | asset_url | stylesheet_tag }}
{{ 'my-swiper-container.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-swiper-container.js' | asset_url }}" type='module' defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<responsive-container 
    class="my-luxury-collection__container 
        {% if section.settings.full_width %}
           content-full-width   
        {% else %}
            my-page-width
        {% endif %} 
        color-{{ section.settings.color_scheme }} 
        section-{{ section.id }}-padding
    " 
    direction='column'
>
    {%- if section.settings.show_title and section.settings.title != blank -%}
        <div class="top__container 
            {{ section.settings.heading_size }}
            text-{{  section.settings.text_align }}
        "
        >
            {{ section.settings.title }}
        </div>
    {%- endif -%}

    <my-swiper-container
        style="display:flex;flex-direction:column;gap:20px;" 
        class="my-swiper-container"
        speed="{{ section.settings.autoplay_speed }}"
        {% if section.settings.auto_slide %}
            autoplay
        {% endif %}
        progressBar
        slidesPerView="{{ section.settings.columns_desktop }}"
        slidesPerViewMobile="{{ section.settings.columns_mobile }}"
        slidesSpaceBetween="20"
    >
        <div class="swiper" style="width:100%">
            <div class="content__container swiper-wrapper">
                {%- for block in section.blocks -%}      
                    {%- assign collection = collections[block.settings.collection] -%}

                    <a href="{{ collection.url }}" class="item__container swiper-slide"> 
                        <responsive-container class="img__container">
                            <div class="img__wrapper">
                                {%- if collection.image != blank -%}
                                    {{ 
                                        collection.image 
                                        | image_url: width:collection.image.width
                                        | image_tag:
                                            alt: collection.title,
                                            class: "img"
                                    }}
                                {%- else -%}
                                    {%- assign placeholder_image_index  = forloop.index0 | modulo: 4 | plus: 1 -%}
                                    {%- assign placeholder_image  = "collection-apparel-" | append: placeholder_image_index -%}

                                    {{ placeholder_image | placeholder_svg_tag:"placeholder-svg" }}
                                {%- endif -%}
                            </div>
                        </responsive-container>

                        {%- if section.settings.show_collection_title and collection.title != blank -%}
                            <div class="img_info h2">
                                {{ collection.title | default: "Collection" }}
                            </div>
                        {%- endif -%}
                    </a>  
                {%- endfor -%}
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-pagination" style="position:relative;width:80%;align-self:center;--swiper-theme-color:#000;--swiper-pagination-progressbar-size:6px;"></div>
    </my-swiper-container>
</responsive-container>

{% schema %}
  {
    "name": "my-luxury-collection",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "checkbox",
            "id": "auto_slide",
            "label": "Auto Slide",
            "default": false
        },
        {
            "type": "range",
            "id": "autoplay_speed",
            "label": "Autoplay Speed",
            "min": 2,
            "max": 10,
            "step": 1,
            "default": 5
        },
        {
            "type": "header",
            "content": "Text"
        }, 
        {
            "type": "checkbox",
            "id": "show_title",
            "label": "Show Title",
            "default": true   
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "EXPERIENCE OPULENCE LIKE NEVER BEFORE"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                "value": "h2",
                "label": "small"
                },
                {
                "value": "h1",
                "label": "medium"
                },
                {
                "value": "h0",
                "label": "large"
                },
                {
                "value": "hxl",
                "label": "xl"
                },
                {
                "value": "hxxl",
                "label": "xxl"
                }
            ],
            "default": "h1",
            "label": "Title Size"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text Align",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default":"center"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "show_collection_title",
            "label": "Show Collection Title",
            "default": true   
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 4,
            "label": "Columns Desktop"
        },
        {
            "type": "select",
            "id": "columns_mobile",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ],
            "default": "2",
            "label": "Columns Mobile"
        }, 
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full Width",
            "default": false
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Select collection"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "my-luxury-collection",
        "settings": {
            "title": "EXPERIENCE OPULENCE LIKE NEVER BEFORE"
        },
        "blocks": [
            {
                "type": "collection"
            }
        ]
      }
    ]
  }
{% endschema %}