{{ 'my-overlay-newSletter-popup.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-newSletter-popup.js' | asset_url }}" type="module"></script>

<newsletter-popup class="newsletter-popup">
    <div class="overlay"></div>
    <div class="newsletter-container">
        <button
            class="newsletter-close"
            type="button"
            onclick="this.closest('search-drawer').close()"
            aria-label="{{ 'accessibility.close' | t }}"
        >
            <span class="svg-wrapper" style="width:15px;height:15px;">
                {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
        </button>
        <div class="newsletter-content">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'Text' -%}
                        <div class="newsletter-text">
                            {{ block.settings.text }}
                        </div>
                    {%- when 'Heading' -%}
                        <div class="newsletter-heading">
                            {{ block.settings.heading }}
                        </div>
                    {%- when 'Form' -%}
                        <form class="newsletter-form"
                            action="{{ routes.root_url }}contact#contace_form"
                            method="post"
                            accept="UTF-8"
                        >
                            <input type="hidden" name="form_type" value="customer">
                            <input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="contact[tags]" value="newsletter">

                            <div class="input-wrapper">
                                <input type="email"
                                    name="contact[email]"
                                    class="newsletter-input"
                                    placeholder="E-mail"
                                    required
                                    aria-label="Newsletter Email"
                                >
                                <button type="submit" class="submit-button" aria-label="Submit">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 10H16M16 10L11 5M16 10L11 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    {%- when 'AsideBar' -%}
                        <div class="newsletter-aside_bar">aside bar</div> 
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
</newsletter-popup>


{% comment %} 
 <div class="my-video-player__social-share">
        <span class="social-media">
            {{- 'facebook.svg' | inline_asset_content -}}
        </span>
        <span class="social-media">
            {{- 'twitter.svg' | inline_asset_content -}}
        </span>
        <span class="social-media">
            {{- 'ins.svg' | inline_asset_content -}}
        </span>
        <span class="social-media">
            {{- 'tiktok.svg' | inline_asset_content -}}
        </span>
        <div class="social-badge">
            <span class="social-text">GET 20% OFF</span>
        </div>
</div> {% endcomment %}


{% schema %}
  {
    "name": "newSletter-popup",
    "tag": "section",
    "class": "newsletter-popup",
    "enabled_on": {
        "groups": ["custom.overlay"]
    },
    "limit": 1,
    "settings": [
      
    ],
    "blocks": [
        {
            "type": "Text",
            "name": "Text",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "FIRST TIMER?"       
                }
            ]
        },
        {
            "type": "Heading",
            "name":"Heading",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Sign up and get 20% off"
                }
            ]
        },
        {
            "type": "Form",
            "name":"Form",
            "limit": 1
        },
        {
            "type": "AsideBar",
            "name": "Aside Bar",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "bar_text",
                    "label": "Heading",
                    "default": "Get 20% off"       
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "newSletter-popup"
      }
    ]
  }
{% endschema %}