{{ 'my-overlay-newSletter-popup.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-newSletter-popup.js' | asset_url }}" type="module"></script>

<newsletter-popup class="newsletter-popup popup-{{ section.settings.position }}"
    displayMode="{{ section.settings.display_mode }}"
    {%- if section.settings.show_in_home and template == 'index' -%}
        showInHome
    {%- endif -%}
    {%- if section.settings.show_for_visitor and customer == nil-%}
        showForVisitor
    {%- endif -%}
    delay1="{{ section.settings.delay }}"
    expired="{{ section.settings.expired }}"
>
    <div class="overlay"></div>
    <div class="newsletter-container">
        <button
            class="newsletter-close"
            type="button"
            onclick="this.closest('search-drawer').close()"
            aria-label="{{ 'accessibility.close' | t }}"
        >
            <span class="svg-wrapper" style="width:15px;height:15px;">
                {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
        </button>
        <div class="newsletter-content"
            style="text-align:{{ section.settings.alignment }};"
        >
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'Text' -%}
                        <div class="newsletter-text">
                            {{ block.settings.text }}
                        </div>
                    {%- when 'Heading' -%}
                        <div class="newsletter-heading">
                            {{ block.settings.heading }}
                        </div>
                    {%- when 'Form' -%}
                        <form class="newsletter-form"
                            action="{{ routes.root_url }}contact#contace_form"
                            method="post"
                            accept="UTF-8"
                        >
                            <input type="hidden" name="form_type" value="customer">
                            <input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="contact[tags]" value="newsletter">

                            <div class="input-wrapper">
                                <input type="email"
                                    name="contact[email]"
                                    class="newsletter-input"
                                    placeholder="E-mail"
                                    required
                                    aria-label="Newsletter Email"
                                >
                                <button type="submit" class="submit-button" aria-label="Submit">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 10H16M16 10L11 5M16 10L11 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>

    {% assign aside_bar_block = section.blocks | where: "type", "AsideBar" | first %}
    {%- if aside_bar_block -%}
        <div class="newsletter-aside_bar {{ aside_bar_block.settings.position }}">
            <span class="social-media">
                {{- 'facebook.svg' | inline_asset_content -}}
            </span>
            <span class="social-media">
                {{- 'twitter.svg' | inline_asset_content -}}
            </span>
            <span class="social-media">
                {{- 'ins.svg' | inline_asset_content -}}
            </span>
            <span class="social-media">
                {{- 'tiktok.svg' | inline_asset_content -}}
            </span>
            <div class="social-badge">
                <span class="social-text">
                    {{ aside_bar_block.settings.bar_text  }}
                </span>
            </div>
        </div>
    {%- endif -%}
</newsletter-popup>

{% schema %}
  {
    "name": "newSletter-popup",
    "tag": "section",
    "class": "newsletter-popup",
    "enabled_on": {
        "groups": ["custom.overlay"]
    },
    "limit": 1,
    "settings": [
        {
            "type": "header",
            "content": "Display Settings"
        },
        {
            "type": "select",
            "id": "display_mode",
            "label": "Display Mode",
            "options": [
                {
                    "label": "Enable",
                    "value": "enable"
                },
                {
                    "label": "Test",
                    "value": "test"
                }
            ],
            "default": "enable",
            "info": "In \"Test mode\", the popup always displays."
        },
        {
            "type": "checkbox",
            "id": "show_in_home",
            "label": "Show In Home",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_for_visitor",
            "label": "Show For Visitor",
            "default": true
        },
        {
            "type": "range",
            "unit": "s",
            "id": "delay",
            "label": "Delay",
            "default": 3,
            "min": 3,
            "max": 60,
            "step": 1
        },
        {
            "type": "range",
            "unit": "day",
            "id": "expired",
            "label": "Expired",
            "default": 7,
            "min": 1,
            "max": 30,
            "step": 1
        },
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "text_alignment",
            "id": "alignment",
            "label": "Text alignment",
            "default": "left"
        },
        {
            "type": "select",
            "id": "position",
            "label": "Position",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "right"
                }
            ]
        },
        {
            "type": "header",
            "content": "Color & Style"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "foregroud_color",
            "label": "Foreground Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay Color",
            "default": "#000"
        }
    ],
    "blocks": [
        {
            "type": "Text",
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>FIRST TIMER?</p>"       
                }
            ]
        },
        {
            "type": "Heading",
            "name":"Heading",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Sign up and get 20% off"
                }
            ]
        },
        {
            "type": "Form",
            "name":"Form",
            "limit": 1
        },
        {
            "type": "AsideBar",
            "name": "Aside Bar",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "bar_text",
                    "label": "Heading",
                    "default": "Get 20% off"       
                },
                {
                    "type": "select",
                    "id": "position",
                    "label": "Position",
                    "options": [
                        {
                            "label": "Left",
                            "value": "left"
                        },
                        {
                            "label": "Right",
                            "value": "right"
                        }
                    ]
                },
                {
                    "type": "checkbox",
                    "id": "show_icon",
                    "label": "Show Social Icon",
                    "default": true
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "newSletter-popup"
      }
    ]
  }
{% endschema %}