{{ 'my-page-aboutus1.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign show_page_title = section.settings.show_page_title
  assign banner_image_block = section.blocks | where: "type", "image" | first
-%}

<responsive-container class="my-page-aboutus1__container color-{{ section.settings.color_scheme }}">
  {%- if banner_image_block.settings.banner_image != blank -%}
    <responsive-container class="banner-image__container">
      {{ banner_image_block.settings.banner_image 
        | image_url: width: 1440 , height: 600 
        | image_tag:
            alt: banner_image_block.settings.banner_image.title
      }}
      <div class="wrapper">
        <div class="content">
          <div class="title h0">{{ banner_image_block.settings.title }}</div>
          <div class="subtitle">{{ banner_image_block.settings.subtitle }}</div>
        </div>
      </div>
    </responsive-container>
  {%- endif -%}

  <div class="block__wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when "content" -%}
          <div class="content__container" style="text-align: {{ block.settings.align }};">
            {%- if show_page_title -%}
              <div class="title h2 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">{{ page.title }}</div>
            {%- endif -%}
            <div class="title h2 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
              {{ block.settings.title }}
            </div>
            <p class="content h4 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{ block.settings.content }}
            </p>
          </div>  
      {% endcase %}
    {%- endfor -%}
  </div>
</responsive-container>

{% schema %}
  {
    "name": "my-page-aboutus1",
    "tag": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      },  
      {
        "type": "checkbox",
        "id": "show_page_title",
        "label": "Show Page Title",
        "default": true
      },
      {
        "type": "select",
        "id": "page_title_alignment",
        "label": "Page Title Alignment",
        "options": [
          {
              "value": "left",
              "label": "left"
          },
          {
              "value": "center",
              "label": "center"
          },
          {
              "value": "right",
              "label": "right"
          }
        ],
        "default": "center"
      },
    ],
    "blocks": [
      {
        "type": "image",
        "name": "banner",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "About Esen"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec ultricies lacinia, nisl nisl"
          }
        ]
      },
      {
        "type" : "content",
        "name" : "content",
        "settings":
        [
          {
            "type" : "text",
            "id" : "title",
            "label" : "title",
            "default": "About Esen"
          },
          {
              "type" : "html",
              "id" : "content",
              "label" : "content"
          },
          {
              "type": "select",
              "id": "align",
              "label": "content_alignment",
              "options": [
                {
                    "value": "left",
                    "label": "left"
                },
                {
                    "value": "center",
                    "label": "center"
                },
                {
                    "value": "right",
                    "label": "right"
                }
              ],
              "default": "center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "my-page-aboutus1",
        "settings": {
        }
      }
    ]
  }
{% endschema %}