{{ 'my-product-highlight.css' | asset_url | stylesheet_tag }}
<script src="{{ 'my-productCarousel-container.js' | asset_url }}" defer type="module"></script>

<responsive-contaienr class="my-product-highlight__container" direction="column">
    <div class="top__container">
        <div class="title h4"> 
                {{ section.settings.title | escape }} 
        </div>
        <div class="description h2"> 
            {{ section.settings.description | escape }} 
        </div>
    </div>
    <div class="bottom__container">
        <responsive-container class='image_show'>
            {{ 
                section.settings.image_show
                | image_url: width: 590, height: 720
                | image_tag: 
                    alt: section.settings.image_show.alt
            }}
        </responsive-container>

        <my-product-carousel-container class="swiper__container">
            {%- for product in section.settings.product_collection.products -%}
                <div class="wrapper {% if forloop.first %} is-active {% endif %}">
                    <responsive-container class="img-wrapper">
                        {{ 
                            product.featured_image
                            | image_url: width: 420, height: 560
                            | image_tag: 
                                alt: product.title
                        }}
                    </responsive-container>
                    <div class="info-wrapper">
                        <div>                   
                            <div class="title h2">{{ product.title }}</div>
                            <div class="price h4">{{ product.price | money }}</div>
                        </div>                   
                        <a href="{{ product.url }}" class="button">SHOP NOW</a>
                    </div>
                </div>
            {%- endfor -%}

            {%- assign count = section.settings.product_collection.products.size -%}
            <div class="switch">
                {%- for i in (1..count) -%}
                    <div 
                        class="dot {% if forloop.first %} underline {% endif %}"
                        data-product-index="{{ i | minus: 1 }}"
                    ></div>
                {%- endfor -%}
            </div>
        </my-product-carousel-container>
    </div>
</responsive-contaienr>

{% schema %}
  {
    "name": "my-product-highlight",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "MIX & MAX"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "LAYERING WITH BASIC PIECES DESIGNED"
        },
        {
            "type": "image_picker",
            "id": "image_show",
            "label": "Image Show"
        },
        {
            "type": "collection",
            "id": "product_collection",
            "label": "Products"
        }
    ],
    "presets": [
      {
        "name": "my-product-highlight",
        "settings": {
        }
      }
    ]
  }
{% endschema %}