{{ 'my-page-aboutus2.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign banner_image_block = section.blocks | where: "type", "image" | first
  assign banner_info_block = section.blocks | where: "type", "banner-info" | first
-%}

<responsive-container class="my-page-aboutus2__container" data-section-id="{{ section.id }}">
  <div class="top-info__container my-page-width color-{{ section.settings.color_scheme }}">
    <div class="title h1">
      {{ section.settings.title }}
    </div>

    <div class="sale-info">
      <span class="h1">{{ section.settings.sale_info }}</span>
      <span class="h3">Items Sale</span>
    </div>

    <div class="invest-info">
      <span class="h1">{{ section.settings.investment_info }}</span>
      <span class="h3">Return On Investment</span>
    </div>
  </div>

  <div class="banner__container color-{{ banner_image_block.settings.color_scheme }}">
    <responsive-container class="banner-image__container">
      {%- if banner_image_block.settings.banner_image != blank -%}
        {{ 
          banner_image_block.settings.banner_image 
          | image_url: width: banner_image_block.settings.banner_image.width 
          | image_tag:
              alt: banner_image_block.settings.banner_image.alt
        }}
      {%- else -%}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}

      <div class="title h0">
        {{ banner_image_block.settings.title }}
      </div>
    </responsive-container>

    <div class="banner-info gradient color-{{ banner_info_block.settings.color_scheme }}">
      <div class="info-title h1">
        {{ banner_info_block.settings.title }}
      </div>
      <div class="description h3 multiline-ellipsis">
        {{ banner_info_block.settings.description }}
      </div>
    </div>

    <div class="banner-info-placeholder"></div>
  </div>
</responsive-container>

<script>
  const loadedHandler = ()=>{
    const section = document.querySelector('.my-page-aboutus2__container[data-section-id="{{ section.id }}"]');
    
    const bannerInfo = section.querySelector('.banner-info');
    const placeholder = section.querySelector('.banner-info-placeholder');

    if(!section || !bannerInfo || !placeholder) return;

    let calcHeight = 100;
    const syncHeight = function() {
      if(bannerInfo.offsetHeight != 0) height = bannerInfo.offsetHeight;
      placeholder.style.height = calcHeight + 'px';
    }

    syncHeight();

    window.addEventListener('resize', syncHeight);
  };

  document.addEventListener('DOMContentLoaded', loadedHandler);
  document.addEventListener('shopify:section:load', loadedHandler);
</script>

{% schema %}
  {
    "name": "my-page-aboutus2",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title",
        "default": "About Us"
      },
      {
        "type": "inline_richtext",
        "id": "sale_info",
        "label": "Sale Info",
        "default": "50+"
      },
      {
        "type": "inline_richtext",
        "id": "investment_info",
        "label": "Investment Info",
        "default": "300%"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "banner",
        "limit": 1,
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
          },
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "About Us"
          }
        ]
      },
      {
        "type": "banner-info",
        "name": "banner-info",
        "limit": 1,
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "Why Choose Us"
          },
          {
            "type": "richtext",
            "id": "description",
            "label":"Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "my-page-aboutus2"
      }
    ]
  }
{% endschema %}