{{ 'my-product-detail.css' | asset_url | stylesheet_tag  }}
<script src="{{ 'my-productDetail-container.js' | asset_url }}" type="module" defer></script>
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
{{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign product = section.settings.featured_product
  if product == null
    assign placeholder = true
  endif 
-%}

<product-detail>
  <responsive-container class="my-product-detail__container">
    <div class="product-image__container">
      <style>
        {% if section.settings.image_type == 'gallery' %}
          .product-image__container {
            flex: 1.5 !important;
          }
          @media screen and (max-width: 1208px) {
            .product-image__container {
              height: 652px !important;
            }
          }
        {% endif %}
      </style>
      {%- if section.settings.image_type == 'grid' -%}
        <div class="grid">
          {%- for img in product.images limit: 4 -%}
            <responsive-container>
              {{
                img
                | image_url: width:375
                | image_tag: 
                    alt: img.alt_text,
                    loading: 'lazy'
              }}
            </responsive-container>
          {%- endfor -%}
        </div>
      {%- else -%}
        <div class="gallery">
          <div class="left">
            {%- for img in product.images offset:1-%}
              <responsive-container class="active">
              {{
                img
                | image_url: width:120
                | image_tag: 
                    alt: img.alt_text,
                    loading: 'lazy'
              }}
            </responsive-container>
            {%- endfor -%}
          </div>
          <div class="right">
            {%- assign first = product.images[0] -%}
            <responsive-container>
              {{
                first
                | image_url: width:652
                | image_tag: 
                    alt: first.alt_text,
                    loading: 'lazy'
              }}
            </responsive-container>
          </div>
        </div>
      {%- endif -%}
    </div>
    <div class="product-info__container">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'app' -%}
            {%- render block -%}
          {%- when 'title' -%}
            <div class="title
                {{ block.settings.heading_size }}
              ">
              {{ product.title | escape }}
            </div>
          {%- when 'description' -%}
            <div class="description">
              {{ product.description | strip_html | escape }}
            </div>
          {%- when 'price' -%}
            <div class="price">
                {% render 'price'
                  product:product,
                  use_variant: true,
                  show_compare_at_price:true,
                  placeholder: placeholder,
                  class:'price--large'
                %}
            </div>
            {%- if product.quantity_price_breaks_configured? -%}
              <div class="volume-pricing-note" id="Volume-Note-{{ section.id }}">
                <span>{{ 'products.product.volume_pricing.note' | t }}</span>
              </div>
            {%- endif -%}
            {%- unless placeholder -%}
              <div {{ block.shopify_attributes }}>
                {%- form 'product', product -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>
            {%- endunless -%}
          {%- when 'variant_picker' -%}
            <div class="variant_picker">
              {% render 'product-variant-picker',
                product: product,
                block:block
              %}
            </div>
          {%- when 'buy_buttons' -%}
            {%- render 'buy-buttons',
              block: block,
              product: product,
              section_id: section.id
            -%}   
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- endcase -%}
      {%- endfor -%}
      <div class="share-and-question">
        <div class="question">
          <a href="" class="link list-social__link">
            <span class="svg-wrapper">
              {{- 'icon-question.svg' | inline_asset_content -}}
            </span>
            <span>Ask a Question</span>
          </a>
        </div>
        <div class="share">
          <span>Share</span>
          {%- render 'social-icons' -%}
        </div>
      </div>
    </div>
  </responsive-container>
</product-detail>

{% schema %}
{
  "name": "my-product-detail",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Select Product"
    },
    {
      "type": "select",
      "id": "image_type",
      "label": "Image Type",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "gallery",
          "label": "Gallery"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.featured-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.featured-product.blocks.description.name",
      "limit": 1
    },    
    {
      "type": "price",
      "name": "t:sections.featured-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.featured-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.featured-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "info": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.info",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
            },
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.featured-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.featured-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.featured-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "my-product-detail",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "description"
        },
        {
          "type": "price"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "buy_buttons"
        }
      ]
    }
  ]
}
{% endschema %}