{{ 'my-page-aboutus1.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign show_page_title = section.settings.show_page_title
  assign banner_image_block = section.blocks | where: "type", "image" | first
-%}

<responsive-container class="my-page-aboutus1__container color-{{ section.settings.color_scheme }}">
  <responsive-container class="banner-image__container">
    {%- if banner_image_block.settings.banner_image != blank -%}
      {{ banner_image_block.settings.banner_image 
        | image_url: width: banner_image_block.settings.banner_image.width
        | image_tag:
            alt: banner_image_block.settings.banner_image.title
      }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}

    <div class="wrapper">
      <div class="content text-{{ banner_image_block.settings.alignment }}">
        {%- assign number = banner_image_block.settings.text_size | slice: 1 -%}
        {%- assign size = number | plus: 1 -%}

        <div class="title {{ banner_image_block.settings.text_size }}">
          {{ banner_image_block.settings.title }}
        </div>
        <div class="subtitle {{ banner_image_block.settings.text_size | slice: 0 | append: size }}">
          {{ banner_image_block.settings.subtitle }}
        </div>
      </div>
    </div>
  </responsive-container>

  <div class="block__wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when "content" -%}
          <div class="content__container {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in {% endif %}" 
            style="text-align: {{ block.settings.align }};"
          >
            {%- if show_page_title -%}
              <div class="title h2 ">
                {{ page.title }}
              </div>
            {%- endif -%}

            <div class="title h2">
              {{ block.settings.title }}
            </div>
            
            <p class="content h4">
              {{ block.settings.content }}
            </p>
          </div>  
      {% endcase %}
    {%- endfor -%}
  </div>
</responsive-container>

{% schema %}
  {
    "name": "my-page-aboutus1",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      },  
      {
        "type": "checkbox",
        "id": "show_page_title",
        "label": "Show Page Title",
        "default": true,
        "info": "This display under banner when add a block"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "banner",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "Text Size",
            "options": [
              {
                "value": "h2",
                "label": "Small"
              },
              {
                "value": "h1",
                "label": "Medium"
              },
              {
                "value": "h0",
                "label": "Large"
              }
            ],
            "default":"h1"
          },
          {
            "type": "select",
            "id":"alignment",
            "label": "Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default":"center"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default": "About Esen"
          },
          {
            "type": "inline_richtext",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec ultricies lacinia, nisl nisl"
          }
        ]
      },
      {
        "type" : "content",
        "name" : "content",
        "settings":
        [
          {
            "type" : "inline_richtext",
            "id" : "title",
            "label" : "title",
            "default": "About Esen"
          },
          {
              "type" : "richtext",
              "id" : "content",
              "label" : "content"
          },
          {
              "type": "select",
              "id": "align",
              "label": "content_alignment",
              "options": [
                {
                    "value": "left",
                    "label": "left"
                },
                {
                    "value": "center",
                    "label": "center"
                },
                {
                    "value": "right",
                    "label": "right"
                }
              ],
              "default": "center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "my-page-aboutus1"
      }
    ]
  }
{% endschema %}