{{ 'my-product-list.css' | asset_url | stylesheet_tag }}
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture has_products -%}
    {%- if section.settings.product_collection.products.size > 0 -%}
        true
    {%- else -%}
        false    
    {%- endif -%}
{%- endcapture -%}

<responsive-container 
    class="my-product-list__container color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
>
    <div class="title__container">
        {%- if section.settings.title != blank -%}
            <h2 class="title inline-richtext {{ section.settings.heading_size }}
                {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            >
                {{ section.settings.title }}
            </h2>
        {%- endif -%}
        {%- if section.settings.description != blank
            or section.settings.show_description
            and section.settings.collection.description != empty
        -%}
            <div class="subtitle rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if section.settings.show_description -%}
                {{ section.settings.collection.description }}
            {%- else -%}
                {{ section.settings.description -}}
            {%- endif %}
            </div>
        {%- endif -%}
    </div>

    <div class="
        content__container my-page-width
        {% if section.settings.full_width %} content-full-width {% endif %} 
        "
    >
        <style>
            .content__container{
                grid-template-columns: repeat({{ section.settings.columns_mobile }},1fr);
                gap:12px;
            }

            @media screen and (min-width: 750px) {
                .content__container{
                    grid-template-columns: repeat({{ section.settings.columns_desktop }},minmax(0,1fr));
                    gap:50px;
                }
            }
        </style>
        {%- if has_products == 'false' -%}
            {%- for i in (1..6) -%}
                <div class="product-card__container">
                    <responsive-container class="product-card__image">
                        {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                        {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}

                        {{ placeholder_image | placeholder_svg_tag: "placeholder-svg" }}
                    </responsive-container>
                    <div class="product-card__title h2" style="align-self:center;">
                        <a
                            role="link"
                            class="full-unstyled-link"
                            style="cursor:not-allowed;"
                        >
                            {{ 'Example product title' | escape }}
                        </a>
                    </div>
                    <div class="product-card__price h4" style="align-self:center;">
                        {{ '1999' | money }}
                    </div>
                </div>
            {%- endfor -%}
        {%- else -%}       
            {% for product in section.settings.product_collection.products %}
                <div class="product-card__container">
                    <responsive-container class="product-card__image">
                        {{ 
                            product.featured_image
                            | image_url: width: 443
                            | image_tag:
                                alt: product.title, 
                                class:'image' 
                        }}

                        {%- if product.compare_at_price > product.price and product.compare_at_price > 0 -%}
                            {%- assign percent = product.price | times: 100 | divided_by: product.compare_at_price -%}
                            {%- assign discount = 100 | minus: percent | prepend: '-' | append: '%' -%}
                        {%- else -%}
                            {%- assign discount = 0 | append: '%' -%}
                        {%- endif -%}
                        <div class="sale">
                            SALE {{ discount }} OFF
                        </div>
                        
                        <modal-opener 
                            class="opener"
                            data-modal="#my-product-list-PopupModal"
                        >
                            <button
                                class="quick-view-btn"
                                type="button"
                                aria-haspopup="dialog"
                                data-product-url="{{ product.url }}"
                            >
                                Quick View
                                {%- render 'loading-spinner' -%}
                            </button>
                        </modal-opener>
                    </responsive-container> 

                    <div class="product-card__title h2">
                        <a
                            href="{{ product.url }}"
                            id="StandardCardNoMediaLink-{{ section.id }}-{{ product.id }}"
                            class="full-unstyled-link"
                            aria-labelledby="StandardCardNoMediaLink-{{ section.id }}-{{ product.id }} NoMediaStandardBadge-{{ section.id }}-{{ product.id }}"
                        >
                            {{ product.title | escape }}
                        </a>
                    </div>

                    <div class="product-card__price h4">
                        {{ product.price | money }}

                        {%- if product.compare_at_price > product.price -%}
                            <span class="old-price" style="text-decoration: line-through;">
                                {{ product.compare_at_price | money }}
                            </span>
                        {%- endif -%}
                    </div>
                </div>
            {% endfor %}
        {%- endif -%}
    </div>

    <quick-add-modal
        id="my-product-list-PopupModal"
        class="product-list-modal"
    >
        <div
            role="dialog"
            aria-modal="true"
            class="content"
            tabindex="-1"
        >
            <button
                id="ModalClose-"
                type="button"
                class="toggle-btn"
                aria-label="close"
            >
                {{ 'icon-close.svg' | inline_asset_content }}
            </button>
            <div id="QuickAddInfo-" class="content-info">
            </div>
        </div>
    </quick-add-modal>
</responsive-container>

{% schema %}
  {
    "name": "my-product-list",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "collection",
            "id": "product_collection",
            "label": "Product Collection"
        },
        {
            "type": "header",
            "content": "Text"
        },    
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title",
            "default":"OUR BEST SELLERS"
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                "value": "h2",
                "label": "small"
                },
                {
                "value": "h1",
                "label": "medium"
                },
                {
                "value": "h0",
                "label": "large"
                },
                {
                "value": "hxl",
                "label": "xl"
                },
                {
                "value": "hxxl",
                "label": "xxl"
                }
            ],
            "default": "h1",
            "label": "Title Size"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default":"<p>MOST LOVED BY YOU</p>"
        },
        {
            "type": "checkbox",
            "id": "show_description",
            "label": "Show Product Description",
            "default": false   
        },
        {
            "type": "header",
            "content": "Product Collection Layout"
        },
        {
            "type": "range",
            "id": "products_to_show",
            "min": 2,
            "max": 25,
            "step": 1,
            "default": 4,
            "label": "Products to show"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4,
            "label": "Columns Desktop"
        },
        {
            "type": "select",
            "id": "columns_mobile",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ],
            "default": "2",
            "label": "Columns Mobile"
        }, 
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full Width",
            "default": false
        }, 
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 36
        }
    ],
    "presets": [
      {
        "name": "my-product-list"
      }
    ]
  }
{% endschema %}